<header class="header row sticky-top">
  <div class="col-7 name-col">
    <span>Spencer McCoubrey</span>
  </div>
  <div class="col-5 menu-col">
    <li class="projects-item item">
      Projects
      <ul class="dropdown">
        <li class="item">
          Project-Euler
        </li>
        <li class="item">
          Maze-Generator
        </li>
      </ul>
    </li>
    <li class="about-item item">
      About Me
    </li>
    <li class="link-item item">
      Links
      <ul class="dropdown right">
        <a class="item" href="https://www.linkedin.com/in/spencer-mccoubrey-38b559130/" target="_blank">LinkedIn<img class="icon" src="assets/linkedin-icon.svg"></a>
        <a class="item" href="https://github.com/McCoubs" target="_blank">Github<img class="icon" src="assets/github-icon.svg"></a>
        <a class="item" href="mailto:spencemcc@gmail.com">spencemcc@gmail.com</a>
        <a class="item" href="assets/resume.pdf" download>My Resume<img class="icon" src="assets/resume.svg"></a>
      </ul>
    </li>
  </div>
</header>
