@import '../../styles-variables.scss';

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 8vh;

  .item {
    padding: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 24px;
      max-width: 24px;
      margin-left: 8px;
    }
  }
}
