<footer class="footer-container row">
  <li class="item col-6 col-md-3">
    <a class="item" href="https://www.linkedin.com/in/spencer-mccoubrey-38b559130/" target="_blank">LinkedIn<img class="icon" src="assets/linkedin-icon.svg"></a>
  </li>
  <li class="item col-6 col-md-3">
    <a class="item" href="https://github.com/McCoubs" target="_blank">Github<img class="icon" src="assets/github-icon.svg"></a>
  </li>
  <li class="item col-6 col-md-3">
    <a class="item" href="mailto:spencemcc@gmail.com">contact<fa-icon class="icon" [icon]="faEnvelope"></fa-icon></a>
  </li>
  <li class="item col-6 col-md-3">
    <a class="item" href="assets/resume.pdf" style="min-width:160px;" download>My Resume<img class="icon" src="assets/resume.svg"></a>
  </li>
</footer>
