<div class="about-me-container">
  <span class="heading-text">General Info</span>
  <img class="profile" src="assets/profile.jpg">
  <span class="text">Hi, my name is Spencer McCoubrey and I am currently a 3rd year Computer Science student at the University of Toronto specializing in Software Engineering</span>
  <span class="text">I have a passion for all things Computer Science, from development, to the people I get to work and build things alongside with</span>

  <span class="heading-text">Current Work</span>
  <span class="text">I am currently a contract Full Stack Developer for <a href="https://verto.ca/" target="_blank">Verto Inc.</a></span>

  <span class="heading-text">Interests</span>
  <span class="text"><b>Frontend:</b> JS frameworks, responsive and accessible web-design, easy deployment/iterative applications</span>
  <span class="text"><b>Backend:</b> Java, Python/Flask, Design Patterns, Machine Learning</span>
  <span class="text"><b>DevOps:</b> Continuous development/integration, Docker</span>
  <span class="text"><b>Personal:</b> Video Games, reading, tv, hanging out with friends</span>

  <span class="heading-text">Experienced With</span>
  <span class="text"><b>Frontend:</b> Angular 6, Ruby on Rails, MarkoJS, JavaScript, HTML5, SCSS/CSS</span>
  <span class="text"><b>Backend:</b> Python, Java, C</span>
</div>
