<div class="about-me-container">
  <span class="heading-text">General Info</span>
  <img class="profile" src="assets/profile.jpg">
  <span class="text">Hi, my name is Spencer McCoubrey and I am currently a 3rd year Computer Science student at the University of Toronto specializing in Software Engineering</span>
  <span class="text">I have a passion for all things Computer Science, from development, to the people I get to work and build things alongside with</span>

  <span class="heading-text">Current Work</span>
  <span class="text">I am currently a contract Full Stack Developer for <a href="https://goverto.com/" target="_blank" rel="nofollow">Verto Inc.</a></span>

  <span class="heading-text">Interests</span>
  <div class="row card-row">
    <div class="info-card col-md-6 col-lg-3 col-12">
      <div class="info-card-header">Frontend</div>
      <div class="info-card-body">
        <div>&bull; JS frameworks</div>
        <div>&bull; responsive and accessible web-design</div>
      </div>
    </div>
    <div class="info-card col-12 col-md-6 col-lg-3">
      <div class="info-card-header">Backend</div>
      <div class="info-card-body">
        <div>&bull; Python/Flask</div>
        <div>&bull; Java</div>
        <div>&bull; Design Patterns</div>
        <div>&bull; Machine Learning</div>
        <div>&bull; DB architecture</div>
      </div>
    </div>
    <div class="info-card col-12 col-md-6 col-lg-3">
      <div class="info-card-header">DevOps</div>
      <div class="info-card-body">
        <div>&bull; Continuous development & integration</div>
        <div>&bull; Docker</div>
      </div>
    </div>
    <div class="info-card col-12 col-md-6 col-lg-3">
      <div class="info-card-header">Personal</div>
      <div class="info-card-body">
        <div>&bull; Video games</div>
        <div>&bull; reading</div>
        <div>&bull; tv</div>
        <div>&bull; hanging out with friends</div>
      </div>
    </div>
  </div>

  <span class="heading-text">Experienced With</span>
  <div class="row card-row">
    <div class="info-card col-12 col-md-6 col-lg-3">
      <div class="info-card-header">Frontend</div>
      <div class="info-card-body">
        <div>&bull; Angular 6/7</div>
        <div>&bull; Ruby on Rails</div>
        <div>&bull; MarkoJS</div>
        <div>&bull; JavaScript</div>
        <div>&bull; HTML5</div>
        <div>&bull; SCSS/CSS</div>
      </div>
    </div>
    <div class="info-card col-12 col-md-6 col-lg-3">
      <div class="info-card-header">Backend</div>
      <div class="info-card-body">
        <div>&bull; Python</div>
        <div>&bull; Java</div>
        <div>&bull; C</div>
        <div>&bull; Node.js</div>
      </div>
    </div>
    <div class="info-card col-12 col-md-6 col-lg-3">
      <div class="info-card-header">Databases</div>
      <div class="info-card-body">
        <div>&bull; Postgres</div>
        <div>&bull; MySQL</div>
        <div>&bull; MongoDB</div>
      </div>
    </div>
  </div>
</div>
