<div class="home-container">
  <div class="about-me-container">
    <h2 class="heading-text">About Me</h2>
    <img class="profile" src="assets/profile.jpg">
    <span class="text">Hi, my name is Spencer McCoubrey and I am currently a 4th year Computer Science student at the University of Toronto specializing in Software Engineering</span>
    <span class="text">I have a passion for all things Computer Science, from development, to the people I get to work and build things alongside with</span>

    <h2 class="heading-text">Current Work</h2>
    <span class="text">
      I am currently a student, but I am looking for employment after I graduate!
    </span>
    <span class="text">
       Contact me at <a class="item" href="mailto:spencemcc@gmail.com">spencemcc@gmail.com</a> to get in touch
    </span>

    <h2 class="heading-text">Interests</h2>
    <div class="row card-row">
      <div class="info-card col-md-6 col-lg-3 col-12">
        <div class="info-card-header">Frontend</div>
        <div class="info-card-body">
          <div>&bull; JS frameworks</div>
          <div>&bull; responsive and accessible web-design</div>
        </div>
      </div>
      <div class="info-card col-12 col-md-6 col-lg-3">
        <div class="info-card-header">Backend</div>
        <div class="info-card-body">
          <div>&bull; Python/Flask</div>
          <div>&bull; Java</div>
          <div>&bull; Design Patterns</div>
          <div>&bull; Machine Learning</div>
          <div>&bull; DB architecture</div>
        </div>
      </div>
      <div class="info-card col-12 col-md-6 col-lg-3">
        <div class="info-card-header">DevOps</div>
        <div class="info-card-body">
          <div>&bull; Continuous development & integration</div>
          <div>&bull; Docker</div>
        </div>
      </div>
      <div class="info-card col-12 col-md-6 col-lg-3">
        <div class="info-card-header">Personal</div>
        <div class="info-card-body">
          <div>&bull; Video games</div>
          <div>&bull; reading</div>
          <div>&bull; tv</div>
          <div>&bull; hanging out with friends</div>
        </div>
      </div>
    </div>

    <h2 class="heading-text">Skills</h2>
    <div class="row card-row">
      <div class="info-card col-12 col-md-6 col-lg-3">
        <div class="info-card-header">Frontend</div>
        <div class="info-card-body">
          <div>&bull; Angular 6-8</div>
          <div>&bull; Ruby on Rails 4-5</div>
          <div>&bull; MarkoJS</div>
          <div>&bull; JavaScript</div>
          <div>&bull; HTML5</div>
          <div>&bull; SCSS/CSS</div>
        </div>
      </div>
      <div class="info-card col-12 col-md-6 col-lg-3">
        <div class="info-card-header">Backend</div>
        <div class="info-card-body">
          <div>&bull; Python</div>
          <div>&bull; Ruby</div>
          <div>&bull; Java</div>
          <div>&bull; C</div>
          <div>&bull; Node.js</div>
        </div>
      </div>
      <div class="info-card col-12 col-md-6 col-lg-3">
        <div class="info-card-header">Databases</div>
        <div class="info-card-body">
          <div>&bull; Postgres</div>
          <div>&bull; MySQL</div>
          <div>&bull; MongoDB</div>
        </div>
      </div>
    </div>
  </div>
</div>
