@import '../../styles-variables.scss';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $palette-background;
  font-size: 20px;
  text-align: center;
  padding: 24px;

  @media only screen and (min-width: map_get($grid-breakpoints, 'md')) {
    font-size: 28px;
  }

  .heading-text {
    font-size: 48px;
    color: $palette-blue;
    margin: 24px;

    @media only screen and (min-width: map_get($grid-breakpoints, 'md')) {
      margin: 64px 24px;
    }

    &:first-child {
      margin: 0 24px;
    }
  }

  .text {
    @media only screen and (min-width: map_get($grid-breakpoints, 'md')) {
      max-width: 80%;
    }
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $palette-background;
    text-align: center;

    .profile {
      width: 300px;
      margin: 24px;
    }

    .card-row {
      display: flex;
      justify-content: space-evenly;
      width: 90%;
    }

    .info-card {
      box-shadow: 0 2px 4px 0 #808080;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 0;
      border-radius: .375rem;
      margin: 6px 0;

      .info-card-header {
        text-align: left;
        padding: 6px 12px;
        width: 100%;
        border-bottom: 1px solid #ebeef2;
      }

      .info-card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 12px;
        align-content: center;
        height: 100%;

        div {
          margin: 0 6px;
        }
      }
    }
  }
}
